.webgl-content * {
    border: 0;
    margin: 0;
    padding: 0;
}

.webgl-content .logo, .progress {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.webgl-content .logo {
    background: url('https://medienprojekt-19-20.github.io/crowddefense-game/TemplateData/progressLogo.Light.png') no-repeat center / contain;
    width: 154px;
    height: 130px;
}

.webgl-content .progress {
    height: 18px;
    width: 141px;
    margin-top: 90px;
}

.webgl-content .progress .empty {
    background: url('https://medienprojekt-19-20.github.io/crowddefense-game/TemplateData/progressEmpty.Light.png') no-repeat right / cover;
    float: right;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.webgl-content .progress .full {
    background: url('https://medienprojekt-19-20.github.io/crowddefense-game/TemplateData/progressFull.Light.png') no-repeat left / cover;
    float: left;
    width: 0%;
    height: 100%;
    display: inline-block;
}

.webgl-content .logo.Dark {
    background-image: url('https://medienprojekt-19-20.github.io/crowddefense-game/TemplateData/progressLogo.Dark.png');
}

.webgl-content .progress.Dark .empty {
    background-image: url('https://medienprojekt-19-20.github.io/crowddefense-game/TemplateData/progressEmpty.Dark.png');
}

.webgl-content .progress.Dark .full {
    background-image: url('https://medienprojekt-19-20.github.io/crowddefense-game/TemplateData/progressFull.Dark.png');
}

.unity-fullscreen {
    margin-top: 1%;
    background-image: url('https://medienprojekt-19-20.github.io/crowddefense-game/TemplateData/fullscreen.png');
    width: 38px;
    height: 38px;
}